.vs/
NexLinkTester/obj/
x64/
*.filters
*.user
*.json
*.pdb
*.dbgconf
*.scvd
*.huafeng_shi
*.lst
*.o
*.crf
*.d
*.axf
*.htm
*.lnp
*.map
*.sct
*.dep
*.iex
*.Bak
*.lref
*.resources
*.cache
*.CopyComplete
NetLink_MediaPlayer/obj/
NexLinkTester/bin/Debug/net48/NexLinkTester.exe
NexLinkTester/bin/Debug/net48/NexLinkTester.exe.config
NexLinkTester/bin/Debug/net48/System.Drawing.Common.dll
NetLink_MediaPlayer/bin/
NexLinkTester/bin/
