pc-sdk/Nexlink/obj/
pc-sdk/Nexlink/bin/Debug/Nexlink.pdb
pc-sdk/Nexlink/bin/
pc-sdk/.vs/
pc-sdk/nexlink_usb/Win32/
pc-sdk/nexlink_usb/x64/
/mcu-sdk/stm32/nexlink_template/MDK-ARM/DebugConfig/nexlink_template_STM32F407VETx.dbgconf
/mcu-sdk/stm32/nexlink_template/MDK-ARM/nexlink_template
/mcu-sdk/stm32/nexlink_template/MDK-ARM/nexlink_template.uvguix.77249
/mcu-sdk/stm32/nexlink_template/MDK-ARM/
pc-sdk/packages/
/mcu-sdk/stm32/nexlink_template_composite/MDK-ARM/
/mcu-sdk/esp32/esp32s3-nexlinkv2/.clangd
pc-sdk/NexLink_Test/bin/
pc-sdk/c/x64/
pc-sdk/NexLink_Test/obj/
pc-sdk/NexLink_Tool/bin/
pc-sdk/NexLink_Tool/obj/
pc-sdk/NexLink_Tool/.vs/
mcu-sdk/stm32/nexlink_adapter/MDK-ARM/
